{% extends "layout.html" %} {% block title %} Sell {% endblock %} {% block main %}

<form input action="/sell" method="post">
  <select name="symbol">
    {% for transaction in transactions %}
    <option>{{ transaction['symbol'] }}</option>
    {% endfor %}
  </select>
  <div class="form-element">
  <input autocomplete="off" autofocus name="shares" placeholder="Shares" type="text" />
</div>
<div class="form-element">
  <button type="submit" class="btn btn-primary" value="Sell">
    Sell
  </button>
</div>
</form>

{% endblock %}
